.container {
  font-family: var(--font-mono);
}

.nav {
  display: flex;
  color: var(--light-blue);
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  font-size: 0.9rem;
}

.links {
  display: flex;
  align-items: center;
}

.links li {
  margin: 0 35px;
}

.visibleIcon {
  display: flex;
}

.invisibleIcon {
  display: none;
}

.nav ol {
  display: flex;
  gap: 5px;
}

.logo {
  width: 42px;
  height: 42px;
}

.listElement {
  color: var(--medium-blue);
}

.resumeLink {
  border: 1px solid var(--light-blue);
  padding: 10px 15px;
  text-decoration: none;
  color: var(--light-blue);
  border-radius: 4px;
}

.icons {
  display: none;
  font-size: 1.8rem;
  position: fixed;
  right: 15px;
}

.icons a {
  color: var(--light-blue);
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .visibleLinks {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    grid-gap: 35px;
    justify-content: center;
    z-index: 0;
    align-items: center;
    background-color: var(--dark-blue);
    -webkit-box-shadow: -200px -1px 300px 200px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -200px -1px 300px 200px rgba(0, 0, 0, 0.75);
    box-shadow: -200px -1px 300px 200px rgba(0, 0, 0, 0.75);
  }

  .nav ol {
    flex-direction: column;
    gap: 35px;
  }

  .icons {
    display: block;
    z-index: 1;
    cursor: pointer;
  }

  .resumeLink {
    padding: 18px 50px;
  }
}
