.container {
  padding-bottom: 50px;
  text-align: center;
  color: var(--medium-blue);
  font-family: var(--font-mono);
  font-size: 0.8rem;
}

.container a {
  text-decoration: none;
  color: var(--light-blue);
}

.container a:hover {
  font-weight: bold;
}

.iconContainer {
  list-style: none;
  justify-content: center;
  gap: 50px;
  font-size: 1.5rem;
  padding: 0;
  display: none;
  margin: 0;
}

@media (max-width: 765px) {
  .iconContainer {
    display: flex;
  }
}
